{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load static %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="{% url 'core:home' %}">
            <img src="{% static 'images/logo.png' %}" alt="">
          </a>
          <h2 class="text-center">{% trans "Create Your Account" %}</h2>
          <form class="text-left clearfix" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="text-center">
              <button class="btn btn-main text-center" type="submit">{% trans "Sign Up" %}</button>
            </div>
          </form>
          <p class="mt-20">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


