<section class="products section">
	<div class="container">
		<div class="row">
            {% load static %}

            {% for product in object_list %}
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">

                        {% if product.get_label_display  %}
                        <span class="bage">{{ product.get_label_display }}</span>
                        {% endif %}

                        {% if product.discount_price %}
                        <span class="bage">Sale</span>
                        {% endif %}

                        <img class="img-responsive" src="{{ product.image_1.url }}" alt="{{ product.name }}" />

						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-{{ product.id }}">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<!-- <li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li> -->
								<li>
									<a href="{{ product.get_add_to_cart_url }}"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
                        <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                        
                        {% if product.discount_price %}
                        <del class="price">${{ product.price }}</del>
                        <p class="price">${{ product.discount_price }}</p>
                        {% else %}
                        <p class="price">${{ product.price }}</p>
                        {% endif %}
					</div>
				</div>
			</div>

            <!-- Modal -->
            <div class="modal product-modal fade" id="product-modal-{{ product.id }}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="tf-ion-close"></i>
                </button>
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <div class="modal-image">
                                        <img class="img-responsive" src="{{ product.image_1.url }}" alt="{{ product.name }}" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-short-details">
                                        <h2 class="product-title">{{ product.name }}</h2>

                                        {% if product.discount_price %}
                                        <p class="product-price">${{ product.discount_price }}</p>
                                        {% else %}
                                        <p class="product-price">${{ product.price }}</p>
                                        {% endif %}

                                        <p class="product-short-description">
                                            {{ product.description }}
                                        </p>
                                        <a href="{{ product.get_add_to_cart_url }}" class="btn btn-main">Add To Cart</a>
                                        <a href="{{ product.get_absolute_url }}" class="btn btn-transparent">View Product Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->
            {% endfor %}

        </div>
    </div>

    {% if is_paginated %}
    <div class="text-center">
        <nav aria-label="Page navigation example text-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="btn btn-main" href="?page={{ page_obj.previous_page_number }}" style="color: black; background-color: transparent; border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-top-right-radius: 0%; border-bottom-right-radius: 0%;"><i class="fas fa-arrow-alt-circle-left"></i> Previous</i></a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="btn btn-main" href="#" style="color: black; background-color: transparent; border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-top-right-radius: 0%; border-bottom-right-radius: 0%;">{{ page_obj.number }}</i></a>
                </li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="btn btn-main" href="?page={{ page_obj.next_page_number }}" style="color: black; background-color: transparent; border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-top-right-radius: 0%; border-bottom-right-radius: 0%;">Next <i class="fas fa-arrow-alt-circle-right"></i></a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
    
    {% endif %}

	</div>
</section>