<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="{% url 'core:home' %}">Home</a></li>
					<li><a href="{% url 'core:shop' %}">Shop</a></li>
					<li class="active">{{ product.name }}</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="#"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
					<li><a href="#">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img src='{{ product.image_1.url }}' alt='' data-zoom-image="{{ product.image_1.url }}" />
                                </div>
                                {% if product.image_2 %}
								<div class='item'>
									<img src='{{ product.image_2.url }}' alt='' data-zoom-image="{{ product.image_2.url }}" />
                                </div>
                                {% endif %}
                                
                                {% if product.image_3 %}
								<div class='item'>
									<img src='{{ product.image_3.url }}' alt='' data-zoom-image="{{ product.image_3.url }}" />
                                </div>
								{% endif %}
								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li data-target='#carousel-custom' data-slide-to='0' class='active'>
								<img src='{{ product.image_1.url }}' alt='' />
                            </li>
                            {% if product.image_2 %}
							<li data-target='#carousel-custom' data-slide-to='1'>
								<img src='{{ product.image_2.url }}' alt='' />
                            </li>
                            {% endif %}

                            {% if product.image_3 %}
							<li data-target='#carousel-custom' data-slide-to='2'>
								<img src='{{ product.image_3.url }}' alt='' />
                            </li>
                            {% endif %}
                            
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
                    <h2>{{ product.name }}</h2>

                    {% if product.discount_price %}
                    <p class="product-price h4">${{ product.discount_price }}</p>
                    <del class="product-price h4">${{ product.price }}</del>
                    {% else %}
                    <p class="product-price h4">${{ product.price }}</p>
                    {% endif %}

					<p class="product-description mt-20">
						{{ product.description }}
					</p>
					<!-- <div class="color-swatches">
						<span>color:</span>
						<ul>
							<li>
								<a href="" class="swatch-violet"></a>
							</li>
							<li>
								<a href="" class="swatch-black"></a>
							</li>
							<li>
								<a href="" class="swatch-cream"></a>
							</li>
						</ul>
					</div> -->
					<!-- <div class="product-size">
						<span>Size:</span>
						<select class="form-control">
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div> -->
					<!-- <div class="product-quantity">
						<span>Quantity:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="0" name="product-quantity">
						</div>
					</div> -->
					<div class="product-category">
						<span>Category:</span>
						<a href="#">{{ product.get_category_display }}</a>
						
					</div>
                    <a href="{{ product.get_add_to_cart_url }}" class="btn btn-main mt-20">Add To Cart</a>
                    <!-- <a href="{{ product.get_remove_from_cart_url }}" class="btn btn-danger mt-20">Remove From Cart</a> -->
				</div>
			</div>
		</div>
	
	</div>
</section>