<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Trendy Products</h2>
			</div>
		</div>
		<div class="row">

			{% for product in object_list %}
			
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						{% if product.get_label_display  %}
                        <span class="bage">{{ product.get_label_display }}</span>
						{% endif %}

						{% if product.discount_price %}
						<span class="bage">Sale</span>
						{% endif %}
						<img class="img-responsive" src="{{ product.image_1.url }}" alt="{{ product.name }}" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-{{ product.id }}">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<!-- <li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li> -->
								<li>
									<a href="{{ product.get_add_to_cart_url }}"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                        {% if product.discount_price %}
                        <del class="price">${{ product.price }}</del>
                        <p class="price">${{ product.discount_price }}</p>
                        {% else %}
                        <p class="price">${{ product.price }}</p>
                        {% endif %}
					</div>
				</div>

		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal-{{ product.id }}">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="{{ product.image_1.url }}" alt="{{ product.name }}" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">{{ product.name }}</h2>
									
									{% if product.discount_price %}
									<p class="product-price">${{ product.discount_price }}</p>
									{% else %}
									<p class="product-price">${{ product.price }}</p>
									{% endif %}

			        				<p class="product-short-description">
			        					{{ product.description }}
			        				</p>
			        				<a href="{{ product.get_add_to_cart_url }}" class="btn btn-main">Add To Cart</a>
			        				<a href="{{ product.get_absolute_url }}" class="btn btn-transparent">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

		</div>
		{% endfor %}
		
	</div>
</section>